button {
  border-radius: 3784px;
}
button:focus {
  outline: none;
}
.navbar{
    margin:0px;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.navbar :where(h1){
    
        align-self: center;
        color: yellow;
}
#register,
#login {
  background-color: yellow;
  color: black;
  border-radius: 20px;
  box-shadow: 2px black;
}
#login:hover {
  background-color: rgb(0, 0, 0);
  color: yellow;
}
#register:hover {
  background-color: rgb(0, 0, 0);
  color: yellow;
}
#logout {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 20px;
}
.img {
  width: 100%;
  max-width: 100px;
  height: auto;
}
center {
  color: white;
  font-size: x-large;
}
body {
  font-family: cursive;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
